<div class="row">
    <div class="col">
      <h2 class="my-3">Edit category: {{category.name}}</h2>
      <form [formGroup]="formCategoryEdit">
        <div class="form-group">
          <label for="name">Category Name</label>
          <input type="text" class="form-control" id="name" formControlName="name"
          [ngClass]="{'is-invalid': (formCategoryEdit.controls.name.dirty || formCategoryEdit.controls.name.touched) && formCategoryEdit.controls.name.invalid, 'is-valid': formCategoryEdit.controls.name.valid}"/>
          <div class="invalid-feedback" *ngIf="(formCategoryEdit.controls.name.dirty || formCategoryEdit.controls.name.touched) && formCategoryEdit.controls.name.errors && formCategoryEdit.controls.name.errors.required">
            The field is required...
          </div>
          <div class="valid-feedback" *ngIf="!formCategoryEdit.controls.errors">
            The name you gave is ok!!!
          </div>
        </div>
        <button (click)="editCategory()" type="submit" class="btn btn-primary mr-3" [disabled]="formCategoryEdit.invalid">Update</button>
        <button (click)="removeCategory()" type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>