<div class="row">
  <div class="col">
    <ul class="list-group">
      <h2>Categories</h2>
      <li class="list-group-item" *ngFor="let category of categories">
        <a [routerLink]="['/categories/edit', category._id]">
          {{ category.name }}
        </a>

        <button class="btn btn-danger btn-sm float-right" (click)="removeCategory(category._id)">
          <i class="fa fa-remove"></i>
        </button>
      </li>
    </ul>
  </div>
</div>
