<div class="row">
    <div class="col">
      <ul class="list-group">
        <h2>Books</h2>
        <li class="list-group-item" *ngFor="let book of books">
          <img [src]="book.photo" height="30"/>
          <a [routerLink]="['/books/edit', book._id]">
            {{ book.title }}
          </a>
          {{ book.category.name }}
        </li>
      </ul>
    </div>
  </div>
