<div>
  <h1 class="text-center">Welcome administrator !!!</h1>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www.sthope.org/sites/main/files/imagecache/carousel/main-images/i-bkhfwqc-l.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="https://www.sthope.org/sites/main/files/imagecache/carousel/main-images/underground_books_6-30-2003_1.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="https://www.sthope.org/sites/main/files/imagecache/carousel/main-images/i-gnrjtwk-l.jpg" class="d-block w-100">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
