<!-- <div class="row">
    <div class="col">
      <h2 class="my-3">Add Book</h2>
      <form [formGroup]="formBook">
        <div class="form-group">
          <label for="title">Book Title</label>
          <input type="text" class="form-control" id="title" placeholder="New title..." formControlName="title"
          [ngClass]="{'is-invalid': (formBook.controls.name.dirty || formBook.controls.name.touched) && formBook.controls.name.invalid, 'is-valid': formBook.controls.name.valid}">
          <div class="invalid-feedback" *ngIf="(formBook.controls.name.dirty || formBook.controls.name.touched) && formBook.controls.name.errors && formBook.controls.name.errors.required">
            The field is required...
          </div>
          <div class="valid-feedback" *ngIf="!formBook.controls.errors">
            The name you gave is ok!!!
          </div>
        </div>
        <button (click)="addCategory()" type="submit" class="btn btn-success" [disabled]="formBook.invalid">Add</button>
      </form>
    </div>
  </div> -->