<div class="row">
  <div class="col">
    <h2 class="my-3">Create Category</h2>
    <form [formGroup]="formCategory">
      <div class="form-group">
        <label for="name">Category Name</label>
        <input type="text" class="form-control" id="name" placeholder="New category..." formControlName="name"
        [ngClass]="{'is-invalid': (formCategory.controls.name.dirty || formCategory.controls.name.touched) && formCategory.controls.name.invalid, 'is-valid': formCategory.controls.name.valid}">
        <div class="invalid-feedback" *ngIf="(formCategory.controls.name.dirty || formCategory.controls.name.touched) && formCategory.controls.name.errors && formCategory.controls.name.errors.required">
          The field is required...
        </div>
        <div class="valid-feedback" *ngIf="!formCategory.controls.errors">
          The name you gave is ok!!!
        </div>
      </div>
      <button (click)="addCategory()" type="submit" class="btn btn-success" [disabled]="formCategory.invalid">Create</button>
    </form>
  </div>
</div>